volumes:
  postgres-data:
    driver: local
  kestra-data:
    driver: local

services:
  postgres:
    image: postgres:15-alpine
    shm_size: 1gb
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 30s
      timeout: 10s
      retries: 10

  kestra:
    image: kestra/kestra:latest
    pull_policy: always
    user: "root"
    command: server standalone
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8080:8080"
      - "8081:8081"
    volumes:
      - kestra-data:/app/storage
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/avirupghosal/Projects/kestra-ops/kestra/workdir:/tmp/kestra-wd
      - /home/avirupghosal/Projects/kestra-ops/kestra/flows:/local_flows
    environment:
      SECRET_GOOGLE_API_KEY: ${GOOGLE_API_KEY_64}
      SECRET_GITHUB_TOKEN: ${GITHUB_TOKEN_64}
      KESTRA_CONFIGURATION: |
        datasources:
          postgres:
            url: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
            driverClassName: org.postgresql.Driver
            username: ${POSTGRES_USER}
            password: ${POSTGRES_PASSWORD}

        kestra:
          server:
            basic-auth:
              enabled: true
              username: ${KESTRA_USERNAME}
              password: ${KESTRA_PASSWORD}

          repository:
            type: postgres

          storage:
            type: local
            local:
              base-path: "/app/storage"

          queue:
            type: postgres

          tasks:
            tmp-dir:
              path: /tmp/kestra-wd/tmp

          url: http://localhost:8080/
        
        micronaut:
          io:
            watch:
              enabled: true              
              paths:
                - /local_flows
